Source: debian-devel-changes-bot
Section: misc
Priority: optional
Maintainer: Sebastian Ramacher <sramacher@debian.org>
Build-Depends:
 debhelper-compat (= 13),
 python3,
 dh-python,
 python3-apt,
 python3-debian,
 python3-bs4,
 python3-setuptools,
 python3-requests,
 python3-requests-mock
Standards-Version: 4.5.1
Homepage: https://github.com/sebastinas/debian-devel-changes-bot
Vcs-Git: git://github.com/sebastinas/debian-devel-changes-bot.git
Vcs-Browser: https://github.com/sebastinas/debian-devel-changes-bot
Rules-Requires-Root: no

Package: debian-devel-changes-bot
Architecture: all
Depends:
 ${python3:Depends},
 ${misc:Depends},
 adduser,
 limnoria,
Description: IRC bot that announces Debian package and bug activity
 The #debian-devel-changes IRC bot is a Supybot-based bot that lives on the
 #debian-devel-changes channel on OFTC.
 .
 It emits newly opened bugs, accepted uploads and closed bugs in the Debian
 distribution when they occur, as well as responds to a number of
 developer-oriented commands.
