[Unit]
Description=#debian-devel-changes IRC bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/lib/debian-devel-changes-bot
ExecStart=/usr/bin/supybot bot-config/BTS.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
User=ddc-bot
Group=ddc-bot

[Install]
WantedBy=multi-user.target
