#!/usr/bin/make -f

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_installsystemd:
	dh_installsystemd debian-devel-changes-bot.service
	dh_installsystemd --no-enable --no-start --no-restart-after-upgrade debian-devel-changes-bot-apt-update.service
	dh_installsystemd debian-devel-changes-bot-apt-update.timer

override_dh_auto_test:
ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
	python3 tests/test_all.py
endif
